<% presenter = ProductPresenter.new(cart_item.product) %>
<tr id="product-id-<%= cart_item.product.id %>">
  <td class="align-middle"><%= image_tag presenter.image_attached, size: 100 %></td>
  <td class="align-middle"><%= cart_item.product_name %></td>
  <td class="align-middle"><%= number_to_currency(cart_item.product_price) %></td>
  <%= form.fields_for 'cart_items[]', cart_item do |cart_item_form| %>
  <td class="align-middle"><%= cart_item_form.number_field :quantity, step: 1, value: cart_item.quantity, placeholder: 'Quantity' %></td>
  <% end %>
  <td class="align-middle"><%= number_to_currency(calculate_total_price(cart_item)) %></td>
  <td class="align-middle"><%= link_to 'Remove', remove_product_from_cart_path(cart_item), method: :delete, class: 'btn btn-danger'  %></td>
</tr>
