<% presenter = ShoppingCartPresenter.new(cart_items) %>
<h2 class="text-center"><%= presenter.products_in_cart %></h2>
<%= form_with(url: create_checkout_path, method: :post, local: true) do |form| %>
<table class="table table-striped table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Product name</th>
      <th scope="col">Unit price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <% cart_items.each do |cart_item| %>
      <%= render partial: 'shopping_cart/cart_item', locals: { cart_item: cart_item, form: form } %>
    <% end %>
    <tr>
      <th colspan="4">Total price:</th>
      <th><%= number_to_currency(presenter.show_total_price) %></th>
    </tr>
  </tbody>
</table>
<div class="d-grid gap-2 col-6 mx-auto mb-5">
  <%= link_to 'Clear cart', clear_shopping_cart_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-lg btn-outline-danger' %>
  <%= form.submit 'Recalculate', formaction: update_cart_path, class: 'btn btn-lg btn-outline-info' %>
  <%= form.submit 'Checkout', class: 'btn btn-lg btn-outline-success' %>

</div>
<% end %>
