<div class="container" id="product-<%= product.id %>-page">
  <div class="row">
    <div class="col-lg-6">
      <%= image_tag presenter.image_attached, class: 'card-img-top'  %>
    </div>
    <div class="col-lg-6">
      <h1><%= product.name %></h1>
      <h2><%= number_to_currency product.price %></h2>
      <%= form_with(url: add_product_to_cart_path(product), method: :post, local: true) do |f| %>
        <%= f.number_field :quantity, step: 1, value: 1, placeholder: 'Quantity' %><br/>
        <%= f.submit 'Add to cart', class: 'btn btn-secondary'%>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 m-5" id="description">
      <p>This is a place for product description</p>
    </div>
  </div>
</div>
